
@media screen and (max-width: 640px) {
    #main{
        margin: 0;
    }
   h1{
    font-size: 1.5rem;
   }
   h3 , p ,li , blockquote{
       font-size: 0.8rem;
   }
   #img-caption{
       font-size: 0.8rem;
   }


    
}
